/*GIA TO FOOTERRRR*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*STYLAROSSSS ****/
body
{
    font-family:"Arial Narrow", Arial;

    border-style: solid;
    border-width: thin;
    border-color: black;

    margin: 0px;
    padding: 600px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 100px;
    background: linear-gradient(to bottom, 
    #99ccff, 
    #8ab8ff, 
    #7399ff, 
    #5c7aff, 
    #455cff, 
    #3647ff, 
    #1f29ff);
    width: 100%;
    height: 100%;
} 
  /* TO MENU */
  :root {
    --color-primary: #0073ff;
    --color-white: #000000;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Times New Roman', Times, serif;
  }
  h1{
    float: left;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 100;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Ta logia*/
p{
	color:rgb(255, 255, 255);
  }
  
  header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   padding: 40px 100px;
   z-index: 10000;

  }
  header.logo{
	position: relative;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	Letter-spacing: 2px;
	transition: 0.6s;
  }

  header.sticky{
	padding: 5px 100px;
	background: #ffffff;
  }

 
  header ul{
   /*position: relative;*/
   display: flex;
   justify-content: center;
   align-items: center;

  }
  header ul li{
	position: relative;
	list-style: none;
	margin: 10px 0;

  }
  /* BAR INFORMATION*/
  header ul li a{
    position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 2px;
	font-size: large;
	font-weight: 500px;
	transition: 0.6s;

  }
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  .banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: cover;
  }

  header.sticky .logo,
  header.sticky ul li a{
	color:#000;
  }

  /* styles for the two panels */
  .panel {
	position: relative;
	width:50%;
	height: 50%;
	padding: 20px;
	background-color:  #141d28;
	--color-white: #e9e9e9;
	margin: 10px;
	top: 100px;
	z-index: 9000;

  }
 /* Style the map */
 #map {
	width: 80%; /* Set the width of the map to 100% */
	bottom: 10px;
	height: 350px; /* Set the height of the map */
	position: absolute; /* Position the map absolutely */
	top: 400px; /* ALLAZNTAS TO PREPEI NA ALLAKSEI KAI TO MAP BUTTON */

}

/* TESTING*/
/* hide dropdown menus by default */
.dropdown-menu,
.dropdown-menu-1 {
  display: none;
  
  
}

/* show dropdown menus on hover */
li:hover > .dropdown-menu {
  display: block;
  
}

li:hover > .dropdown-menu-1 {
  display: block;
}


/* dropdown panel */
.dropdown-panel {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
}
header:not(.sticky) .dropdown-panel {
  background-color: transparent;
}

/* show dropdown panel on hover */
li:hover > .dropdown-panel {
    display: block;
	flex-direction: column; /* change the direction to column */
	
}

/* styles for the two panels */
.panel {
	position: relative;
	width:50%;
	height: 50%;
	padding: 20px;
	background-color:  #141d28;
	--color-white: #e9e9e9;
	margin: 10px;
	top: 100px;
	z-index: 1;
}

/* TO FOOTER STO TELOS **************************/
.container{
  min-height: 100%;
  position: relative;
	max-width: 1170px;
	margin:auto;
  bottom: 0px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  position: absolute;
	background-color: #141d28;
  width: 100%;
    padding: 70px 0;
    /*bottom: 0;*/
    right: 0;
    top:auto;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





/* GIA TO SCROLL STHN ARXH SELIDASSSSSSSSSSS ****/
#home-button {
  /* previous CSS styles */
  animation: move-up 1s ease;
  transition: background-color 0.2s ease;
}

@keyframes move-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}



/* GIA TO SCROLL STHN TELOS SELIDASSSSSSSSSSS ****/
#contact-button {
  /* previous CSS styles */
  

  transition: all 1s ease;
}


