body
{
    font-family: "Arial Narrow", "Arial";
    background: linear-gradient(to bottom, #99ccff, #8ab8ff, #7399ff, #5c7aff, #455cff, #3647ff, #1f29ff);
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 10px;
    padding: 300px;
}

section {
display: grid;
place-items: center;
align-content: center;
min-height: 50vh;

}

h1
{
    font-family: "Arial Rounded MT Bold";
    background:  #2e3dff;
    color: white;
    font-weight: bold;
    font-size: 200%;
    border-style: solid;
    border-width: thick;
    border-color: #4c66ff;
    padding: 30px;
    margin: 10px;
}


h2
{

    font-family: Consolas ;
    background:  #2e3dff;
    color: white;
    border-style: solid;
    border-style: thin;
    border-color: #4c66ff;
    padding: 10px;
}

#forma{
    display: block;
    margin-bottom: 20px;
  
}
#form{

    display: block;
    margin-bottom: 20px;
  }
#forma2{

    display: block;
    margin-bottom: 20px;
  }

p
{
    background-color: grey;
    font-weight: normal;
    color: white;
}


#alert {
        color: red;
        display: none;
      }


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}


